!!!
%html
  %head
    %title Call Me Dashboard

    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    -#%link{:href=>"/stylesheets/bootstrap.min.css", :rel=>"stylesheet", :media=>"screen"}
    -#%link{:href=>"/stylesheets/bootstrap-responsive.min.css", :rel=>"stylesheet", :media=>"screen"}
    :css
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li{ :class => request.script_name == "" ? "active" : "" }
            %a{:href => "/"}Dashboard
        %h3.muted Callme CPlus

      %hr/

      .row-fluid
        .span-12
          = yield
    %script{:src=>"http://code.jquery.com/jquery.js"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    -#%script{:src=>"javascripts/bootstrap.min.js"}


